.inner-container{
    gap: 1.5rem;
    background: #caf0f8;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #caf0f8;
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-container .button {
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}



.set{
    font-family: "Silkscreen", sans-serif;
    /* font-weight: 700; */
    color: #0096c7;
    font-style: normal;
    font-weight: 600;
      font-size: 2rem;
      line-height: 2rem; 
  }
  