.h-wrapper {
  z-index: 99;
  position: sticky;
  top: 0;
  background-color: #caf0f8 ;
  
}
.h-container {
  background-color: #caf0f8 ;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  color: #0096c7;
  justify-content: space-between;
}

.logo{
  font-family: "Silkscreen", sans-serif;
  /* font-weight: 700; */
  font-style: normal;
  font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem; 
}

.h-menu {
  gap: 2rem;
}
.h-menu > *:hover {
  cursor: pointer;
}
.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .h-menu {
    color: #00b4d8;
    position: absolute;
    gap: 2rem;
    font-weight: 500;
    flex-direction: column;
    right: 4rem;
    top: 3rem;
    background: white;
    display: flex;
    border-radius: 10px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 3rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
}
